<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="icon" href="/images/weather.png">
	<script src="/src/app.js"></script>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<img src="/images/ahmed.jpg" alt="author" class="portrait">
	</div>
	


	{{>footer}}
	
</body>
</html>